@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  background-image: linear-gradient(135deg,
  #272829, #4a536e, #6f85b9, #4a536e, #272829);
  display: flex;
  background-size: 500%;
  align-items: center;
  justify-content: center;
  animation: fanimado 10s infinite;
  
}

@keyframes fanimado{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  background: #2c3a47f8;
  padding: 20px 40px;
}

.pic{
  display: inline-block;
  padding: 4px;
  background: linear-gradient(130deg, #2c3a47, #394787, #193550);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #6f85b9;
}

.redes{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.redes a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.redes a:hover{
  color: #6f85b9;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #f2f2f2;
  background-color: #6f85b9;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #4a536e;
  color: #fff;
}

.card-footer{
  background: #f4f4f4;
  padding: 25px 14px;
  padding-top: 10px;
}

.presentation{
  display: flex;
  align-items: center;
}

.about{
  flex: 1;
  font-size: 13px;
  color: #2c3a47;
}

.about p{
  display: block;
  text-align: justify;
  color: #2c3a47;
  font-size: 15px;
}

